body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #f8f9fc;
    display: flex;
    justify-content: center;
    padding: 80px 20px;
}

.container {
    width: 100%;
    max-width: 900px;
}

.card {
    background: #ffffff;
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    animation: fadeIn 0.4s ease-in-out;
}

h3, h4 {
    margin-top: 0;
    text-align: center;
    background: #f4f6f9;
    padding: 20px;
    font-family: Muli, sans-serif;
    font-size: 16px;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
}

#enviar {
    background: #4e73df;
    color: white;
}

#enviar:hover {
    background: #2e59d9;
}

.btn-danger {
    background: #e74a3b;
    color: white;
}

.btn-danger:hover {
    background: #c0392b;
}

.btn-secondary {
    background: #858796;
    color: white;
}

.btn-secondary:hover {
    background: #6c757d;
}

.info {
    margin-top: 15px;
    text-align: center;
    color: #666;
}

#mensagem {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}

.resultado {
    transition: 0.3s ease;
}

.resumo-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin: 20px 0;
}

.resumo-item {
    background: #f8f9fc;
    padding: 15px;
    margin: 20px auto;
    width: 300px;
    border-radius: 8px;
    text-align: center;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.05);
    font-family: 'Roboto', sans-serif;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

th {
    background: #f1f3f9;
}

.temp-fria {
    background-color: #d1ecf1;
}

.temp-agradavel {
    background-color: #d4edda;
}

.temp-quente {
    background-color: #f8d7da;
}

.botoes {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

