body {
  background-color: whitesmoke;
  font-family: Arial;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 180vh;
  color: goldenrod;
}

h1 {
  color: goldenrod;
  margin-bottom: 30px;
}

a {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #f0d4a5;
  border-radius: 5px;
  color: goldenrod;
  text-decoration: none;
  font-weight: bold;
  width: 250px;
  text-align: center;
}

a:hover {
  background-color: goldenrod;
  color: white;
  cursor: pointer;
  width: 300px;
  transition: 0.4s
}