body {
  background-color: whitesmoke;
  font-family: Arial;
  margin: 40;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  font-size: 22px;
  color: goldenrod;
  margin-bottom: 85px;
}

form {
  background: rgba(218, 165, 32, 0.205);
  padding: 30px;
  border-radius: 40px;
  width: 400px;
}

label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 6px;
  margin-bottom: 14px;
  border: 1px solid goldenrod;
  border-radius: 3px;
}

input[type="submit"] {
    width: 415px;
    padding: 7px;
}
