* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(PIVETE.jpeg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    background-color: #0c0d138c;
    padding: 15px;
}

